# Problem Set 1 - Solutions

In [3]:
import numpy as np
import pandas as pd
np.set_printoptions(precision=2)
mysoln = pd.DataFrame(["Student A","Student B","Student C", "Student D"],columns=['student'])

## Question 1

In [20]:
# 1
%precision 2 #round numbers
pv = 2e5  # initial investment
tm = 2  # maturity in years
r = 0.04  # interest rate
# answers
a = pv * (1 + r)**tm
b = pv * (1 + r/4)**(tm * 4) #quarterly
c = pv * (1 + r/12)**(tm * 12) # monthly
# add to list
mysoln["Q1"] = [a,b,c,""]

## Question 2

In [8]:
#2a
def pv_annuity(pmt, r, n):
    return (pmt/r)*(1-1/(1+r)**n)
r = (1+0.05)**2 - 1
a= pv_annuity(160000,r,10)

In [9]:
#2b
from sympy import *
r = (1+0.06)**2 - 1
pmt = Symbol('pmt')
n =10
pv = (pmt/r)*(1-1/(1+r)**n)
b = solve(pv - 3000000, pmt)

In [10]:
mysoln["Q2"] = [a,b,"",""]

## Question 3

In [11]:
r = 0.02
pv = (1/r)*(1-1/(1+r)**35)
pv
savings = 0.45 * 100000
total_saved = savings*(1+r)**35*pv
total_saved

2249751.493490527

In [12]:
r = 0.02
pv_discount = (1/r)*(1-1/(1+r)**20)
# C*pv_discount = 2083013
C = total_saved/pv_discount
C

137587.41793935114

In [13]:
mysoln["Q3"] = [total_saved,C,"",""]

## Question 4

In [14]:
#4a
APR = 0.03
EAR = (1+APR/12)**12-1
EAR

0.030415956913506736

In [15]:
#4b
monthly_rate = APR/12
monthly_rate

0.0025

In [16]:
r = monthly_rate
n = 30*12
total_mortgage = 500000
x = (1/r)*(1-1/((1+r)**n))
pmt = total_mortgage/ x
pmt

2108.02016864728

In [17]:
remaining = pmt*(1/r)*(1-1/((1+r)**340))
remaining

482425.8581755352

In [18]:
mysoln["Q4"] = [EAR,pmt,remaining,""]

In [19]:
mysoln

     student             Q1                  Q2              Q3             Q4
0  Student A       108160.0       972660.319418  2249751.493491       0.030416
1  Student B  108285.670563  [538800.562116942]   137587.417939    2108.020169
2  Student C  108314.295916                                      482425.858176
3  Student D